[Unit]
Description=OpenEPM Agent
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/handesh/Documents/Uni/project/agent
Environment="PATH=/home/handesh/Documents/Uni/project/agent/.venv/bin"
ExecStart=/home/handesh/Documents/Uni/project/agent/.venv/bin/python -m openepm_agent.cli star
tRestart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
